<aside class="app-aside">
    <!-- .aside-content -->
    <div class="aside-content">
        <!-- .aside-header -->
        <header class="aside-header d-block d-md-none">
            <!-- .btn-account -->
            <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
                <span class="user-avatar user-avatar-lg">
                    <img src="~/assets/images/avatars/profile.jpg" alt="">
                </span>
                <span class="account-icon">
                    <span class="fa fa-caret-down fa-lg"></span>
                </span>
                <span class="account-summary">
                    <span class="account-name">Beni Arisandi</span>
                    <span class="account-description">Marketing Manager</span>
                </span>
            </button>
            <!-- /.btn-account -->
            <!-- .dropdown-aside -->
            <div id="dropdown-aside" class="dropdown-aside collapse">
                <!-- dropdown-items -->
                <div class="pb-3">
                    <a class="dropdown-item" href="user-profile.html">
                        <span class="dropdown-icon oi oi-person"></span> Profile
                    </a>
                    <a class="dropdown-item" href="auth-signin-v1.html">
                        <span class="dropdown-icon oi oi-account-logout"></span> Logout
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Help Center</a>
                    <a class="dropdown-item" href="#">Ask Forum</a>
                    <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                </div>
                <!-- /dropdown-items -->
            </div>
            <!-- /.dropdown-aside -->
        </header>
        <!-- /.aside-header -->
        <!-- .aside-menu -->
        <section class="aside-menu has-scrollable">
            <!-- .stacked-menu -->
            <nav id="stacked-menu" class="stacked-menu">
                <!-- .menu -->
                <ul class="menu">
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Roles")" class="menu-link">
                            <span class="menu-icon oi oi-dashboard"></span>
                            <span class="menu-text">Role</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Users")" class="menu-link">
                            <span class="menu-icon oi oi-dashboard"></span>
                            <span class="menu-text">User</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Configs")" class="menu-link">
                            <span class="menu-icon oi oi-dashboard"></span>
                            <span class="menu-text">Config</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Currencies")" class="menu-link">
                            <span class="menu-icon oi oi-dashboard"></span>
                            <span class="menu-text">Currency</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="@Url.Action("Index", "Transactions")" class="menu-link">
                            <span class="menu-icon oi oi-dashboard"></span>
                            <span class="menu-text">Transaction</span>
                        </a>
                    </li>
                    <!-- .menu-item -->
                    <li class="menu-item has-child">
                        <a href="#" class="menu-link">
                            <span class="menu-icon oi oi-pencil"></span>
                            <span class="menu-text">Forms</span>
                        </a>
                        <!-- child menu -->
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="form-basic.html" class="menu-link">Basic Elements</a>
                            </li>
                            <li class="menu-item">
                                <a href="form-autocompletes.html" class="menu-link">Autocompletes</a>
                            </li>
                            <li class="menu-item">
                                <a href="form-pickers.html" class="menu-link">Pickers</a>
                            </li>
                            <li class="menu-item">
                                <a href="form-editors.html" class="menu-link">Editors</a>
                            </li>
                        </ul>
                        <!-- /child menu -->
                    </li>
                    <!-- /.menu-item -->

                </ul>
                <!-- /.menu -->
            </nav>
            <!-- /.stacked-menu -->
        </section>
        <!-- /.aside-menu -->
    </div>
    <!-- /.aside-content -->
</aside>
